/* Media queries don't work well in React development environment
	so I am using a static .css file
	React development environment also doesn't like background images
	declared in the css files.
*/

@media (max-width: 600px) {
  #long_logo {
    display:none;
  }
  ul.App-header li {
  	font-size: 12px;
  	margin-left: 10px;
  }
  #fb_icon {
  	/* use id here as it will override the index.css file */
  	width: 20px;
  	margin-top:0;
  }
  .content-services, .content-featured {font-size: 12px;}
  #services .cropPicture img {margin-left:-150px;}
}