/* Media queries don't work well in React development environment
	so I am using a static .css file
	React development environment also doesn't like background images
	declared in the css files.
*/
.iconbox-icon { text-align: center; }
/* for iphones */
.content-form .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 600px) {
  /* react css will always take precedence because react ignores media queries
      Need to use !important or enter in such a way that these entries have css precedence
  */
  #long_logo {
    display:none;
  }

  ul.App-header li {
  	font-size: 12px;
  }
  .App-header li:nth-child(2) {margin-left: 10px;}
  #fb_icon {
  	/* use id here as it will override the index.css file */
  	width: 20px;
  	margin-top:0;
  }
  #slogan {left: 10px; font-size: 18px;}
  .content-services {font-size: 12px;}
  #services .cropPicture img {margin-left:-150px;}

  #hiring {padding:0 10px;}
  #hiring div.l1 {font-size: 14px;}

  #hiring h1 {font-size: 1.8em !important; text-align: center;}
  #small_logo {display:block;width:100%;}
  #home_section .foodinsecurity {float:none;}
  #home_section .container span {display:block;    padding: 10px;}
  #home_section .one-half {width:100%;}
  #home_section .content-featured {font-size: 12px;padding: 10px;}

}