.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;
  min-height: 50vh;*/
  border-top:2px solid #2A8FBD;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  color: black;
}

.App-link {
  color: #61dafb;
}

.menu_text {display:inline;}
.active,.active:hover {background-color:#2A8FBD ;}
#long_logo {
  margin: 0 10px;
  width: 30%;
  max-width: 350px;
}
#long_logo img {
  width: 100%;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
