#hiring .l1 {
    padding-top: 10px;
    line-height: 26px;
    font-size: 18px;
}

#hiring .right {
	padding-left: 20px;
}
#hiring h1 {
	font-size: 2.5em;
    line-height: 1.266em;
    letter-spacing: -0.02em;
}

#hiring {
    max-width: 912px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: black;
    -webkit-font-smoothing: antialiased;
}

#hiring a {
    font-size: 18px;
    line-height: 30px;
    color: blue;
    margin-left: 40px;
}